export(import_ohlc,
       import_multi_ohlc,
       import_series,
       sym_fred,
       sym_tiingo,
       sym_yahoo)

importFrom(quantmod,
    getSymbols)

importFrom(utils,
    capture.output,
    head,
    tail,
    getS3method)

importFrom(stats,
    setNames)

importFrom(jsonlite,
    fromJSON)

import(methods, zoo, xts, TTR)

S3method(import_ohlc, symbol_spec)
S3method(import_multi_ohlc, symbol_spec)
S3method(import_multi_ohlc, tiingo)
S3method(import_multi_ohlc, yahoo)

S3method(import_quote, symbol_spec)
#S3method(import_quote, tiingo)
#S3method(import_quote, yahoo)

S3method(import_series, symbol_spec)
S3method(import_series, fred)

S3method(c, symbol_spec)
S3method(print, symbol_spec)

S3method(`[`, multiple_ohlc)
S3method(c, multiple_ohlc)
S3method(print, multiple_ohlc)
S3method(head, multiple_ohlc)
S3method(tail, multiple_ohlc)
